/* 登录 */
.login{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: url(../images/bg.png) no-repeat center top/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    text-align: center;
}
.login-content{
    width: 640px;
}
.login-box{
    height: 320px;
    padding:20px 30px;
    box-sizing: border-box;
    width: 384px;
    float: left;
    position: relative;
}
.login-box .login-input input{
    width: 100%;
    height: 36px;
    padding: 8px 20px 8px 50px;
    box-sizing: border-box;
    border-radius: 3px;
    line-height: 40px;
    color: #26a7e1;
    font-size: 14px;
}
.login-box input:focus{
    border: 1px solid #26a7e1;
}
.login-box .login-input{
    position: relative;
}
.login-box .admin{
    margin-top: 15px;
}
.login-box .login-input .admin-icon{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: inline-block;
    height: 36px;
    width:40px;
    border-right: 1px solid #c2dcf2;
}
.login-box .login-input .admin-icon img{
    margin-top: 10px;
}
.login-box .circle{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #f08042;
    text-align: center;
    line-height: 15px;
    color: #eee;
    border-radius: 100%;
}
.login-box .hint{
    font-size: 12px;
    color: #f08042;
    display: inline-block;
    position: absolute;
    left:30px;
    bottom: 102px;
}
.login-box .password{
    margin-top: 12px;
}
.login-box .code{
    margin-top: 12px;
}
.login-box .code .code-left{
    width: 229px;
    float: left;
}
.login-box .code .num{
    width: 80px;
    height: 36px;
    border-radius: 3px;
    background: #fff;
    font-size: 24px;
    color: #6b6b6b;
    text-align: center;
    margin-left: 15px;
    float: left;
    line-height: 40px;
}
.pad-btn{
    margin-top: 30px;
}
.rem-psd{
    float: left;
    font-size: 16px;
    color: #26a7e1;
    cursor: pointer;
}
.rem-psd *{
    vertical-align: middle;
}
.pad-btn .rem-psd i{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/rember.png) 100% 100% no-repeat;
}
.pad-btn .active i{
    background: url(../images/rem.png) 100% 100% no-repeat;
}
.forget-psd{
    float: right;
    font-size: 16px;
    color: #26a7e1;
    margin-top: 2px;
}
.login-box .button{
    margin-top:15px;
}
.login-box .button .log{
    float: left;
    width: 150px;
    height:35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 5px;
    background: #5dbeeb;
    border-radius: 3px;
    cursor: pointer;
}
.login-box .button .reset{
    float: left;
    width: 150px;
    height:35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 5px;
    background: #66b3d8;
    border-radius: 3px;
    margin-left: 24px;
    cursor: pointer;
}
.login-bq{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 40px;
    font-size: 16px;
    color: #858585;
}
.login-in{
    width: 640px;
    background: rgba(255,255,255,.5);
    margin-top: 20px;
    border-radius:2px;
    box-shadow: 0 0 6px rgba(0,0,0,.1) ;
}
.login-in .img{
    width: 256px;
}
.login-in .img img{
    width: 100%;
}
.login-box .title{
    font-size:16px;
    color: #999;
}
.login-box .title .ch{
    font-size: 20px;
    color: #dd531a;
}


/* 首页1  */
body,html{height:100%;}
body{ padding:0px; margin:0;}
.l-link{ display:block; height:26px; line-height:26px; padding-left:10px; text-decoration:underline; color:#333;}
.l-link2{text-decoration:underline; color:white; margin-left:2px;margin-right:2px;}
.l-layout-top{background:#102A49; color:White;}
.l-layout-bottom{ background:#E5EDEF; text-align:center;}
#pageloading{position:absolute; left:0px; top:0px; width:100%; height:100%;z-index:99999;}
.l-link{ display:block; line-height:22px; height:22px; padding-left:16px;border:1px solid white; margin:4px;}
.l-link-over{ background:#FFEEAC; border:1px solid #DB9F00;}
.l-winbar{ background:#2B5A76; height:30px; position:absolute; left:0px; bottom:0px; width:100%; z-index:99999;}
.space{ color:#E7E7E7;}
/* 顶部 */
.l-topmenu{ margin:0; padding:0; height:80px; line-height:80px; position:relative; background: url(../images/head-bg.png) top center no-repeat }
.l-topmenu-logo{padding-left:20px;    width: 360px;float: left;}
.l-topmenu-logo img{margin-top: 14px}
.l-topmenu-welcome{  position:absolute; height:24px; line-height:24px;  right:20px; top:2px;color:#070A0C;margin-top: 5px}
.l-topmenu-welcome a{ color:#E7E7E7; text-decoration:underline}
/*首页2顶部  --开始*/
.l-topmenu-list{height: 80px;;position: absolute;left:50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);}
.l-topmenu-list .swiper-container{height: 80px;width: 100%}
.swiper-slide{
    width: 98px!important;
    border-right:1px solid #61BAEB ;
    border-left:1px solid #61BAEB ;
}
.swiper-slide .menu-item{
    text-align: center;
    height: 80px;
    cursor: pointer;
}
.swiper-slide img{
    float: left;
    margin-left: 32px;
    margin-top: 11px;
}
.menuTitle{
    color: #ffffff;
    display: inline-block;
    float:left;
    width: 100%;
    text-align: center;
    /*text-align: center;*/
    /*width: 100%;*/
    height: 25px;
    line-height: 25px;
}
.icon-left{
    position: absolute;
    top:50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    width: 8px;
    height:30px ;
    left:-8px;
    cursor: pointer;
}
.icon-right{
    position: absolute;
    top:50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    width: 8px;
    height:30px ;
    right:-8px;
    cursor: pointer;
}

@media screen and (max-width: 1366px) {
    .l-topmenu-list{
        width: 400px;
    }
}
@media screen and (min-width:1367px) and (max-width:1600px){
    .l-topmenu-list{
        width: 500px;
    }
}
@media screen and (min-width:1601px) and (max-width:1920px){
    .l-topmenu-list{
        width: 600px;
    }
}
/*首页2顶部  --结束*/
/*首页2iframe页  --开始*/
.iframContainer{
    padding: 10px;
}
@media screen and (max-width: 1366px) {
    .section2 .chart-item{
        width: 100%;
    }
}
@media screen and (min-width:1367px) and (max-width:1600px){
    .section2 .chart-item{
        width: 100%;
    }
}
@media screen and (min-width:1601px) and (max-width:1920px){
    .section2 .chart-item{
        width: 48%;
    }
}
.iframContainer div,.iframContainer input,.iframContainer label,.iframContainer button,.iframContainer section{
    box-sizing: border-box;
}
.section1,.section2,.section3{
    overflow: hidden;
}
.section2 .chart-item,.section3 .section3-item{
    float:left;
    margin: 0 15px 15px 0;
    border: 1px solid #e6e6e6;
}
.section3 .section3-item{
    width: 530px;
}
.chart-item .chart-title,.section3-item .item-title{
    height: 38px;
    line-height: 38px;
    padding-left: 15px;
    font-weight: 500;
    font-size: 14px;
    background: #FAFAFA;
    border-bottom: 1px solid #e6e6e6;
}
.chart-item .chart-content,.section3-item .item-content{
    height: 360px;
    line-height: 360px;
}
.section1-item{
    width: 255px;
    height: 85px;
    background: #FAFAFA;
    float:left;
    padding: 15px 0 15px 15px;
    box-sizing: border-box;
    margin-right: 15px;
    margin-bottom: 15px;
}
.section1-item .item-info-title{
    height: 20px;
    line-height: 20px;
    font-size: 14px;
}
.section1-item .item-info-text{
    height: 35px;
    line-height: 35px;
    font-size: 28px;
    color:#1798d7 ;
}
/*首页2iframe页  --结束*/
.body-gray2014 #framecenter{
    margin-top:3px;
}
.viewsourcelink {
    background:#B3D9F7;  display:block; position:absolute; right:10px; top:3px; padding:6px 4px; color:#333; text-decoration:underline;
}
.viewsourcelink-over {
    background:#81C0F2;
}
.l-topmenu-welcome label {color:white;
}
#skinSelect {
    margin-right: 6px;
}
.footer{height:30px; line-height:30px; text-align:center;background:#1091d7;color: #fff;font-size: 14px;font-family:'Adobe 黑体 Std' }
.l-topmenu-welcome .mission *{
    vertical-align: middle;
    font-size: 14px;
    color: #fff;
}
.mission .num{
    color:#fff82d;
}
.wait-mission{
    margin-right: 20px;
    padding-right: 20px;
    border-right: 2px solid #fff;
}
.user-name{
    position: relative;
    z-index: 100;
}
.user-name .name{
    width: 160px;
    height: 26px;
    line-height: 26px;
    padding-right: 10px;
    text-align: center;
    position: relative;
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    background: #0378ce;
    margin-top: 7px;
    cursor: pointer;
}
.user-name .name:after{
    content: "";
    border-top: 6px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    top: 11px;
    right: 10px;
}
.alter-psd{
    position: absolute;
    top: 34px;
    right: 0;

    display: none;
    padding-top: 5px;
}
.alter-psd p{
    width: 105px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    background: #fff;
    border:1px solid #e2e2e2;
}
.alter-psd p span{
    vertical-align: middle;
}
.alter-psd .psd{
    border-bottom: 0;
}
.alter-psd .psd .icon{
    display: inline-block;
    width: 14px;
    height: 16px;
    background: url(../images/reviseb.png) top center no-repeat;
}
.alter-psd .revise .icon{
    display: inline-block;
    width: 14px;
    height: 16px;
    background: url(../images/esc1h.png) top center no-repeat;
}
.alter-psd p:hover{
    background: #0378ce;
    color: #fff;
}
.alter-psd .psd:hover .icon{
    background: url(../images/revise.png) top center no-repeat;
}
.alter-psd .revise:hover .icon{
    background: url(../images/esc.png) top center no-repeat;
}
.user-name:hover .alter-psd{
    display: block;
}
.tab-home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab-home ul{
    width: 756px;
    margin: -80px -30px 0;
}
.tab-home li{
    text-align: center;
    float: left;
    padding: 0 30px;
    margin-top: 80px;
}
.tab-home li p{
    font-size: 14px;
    color: #000;
    margin-top: 5px;
}
/*查询页     --开始 */
.search-condition-container{
    border: 1px solid #CBDCF3;
    overflow:hidden;
    /*transition: height 1s linear;*/
}
.search-condition-title{
    height: 28px;
    line-height: 28px;
    background: #F5F9FE;
    padding-left: 10px;
    font-size: 14px;
    color:#333333;
    border-bottom:1px solid #CBDCF3;
    position: relative;
}
.search-condition-content{
    padding: 10px;
}
.search-item-label{
    height: 28px;
    line-height: 28px;
    padding: 0 5px 0 10px;
    display: inline-block;
    width: 80px;
    text-align: right;
    font-size: 12px;
    float:left;

}
.search-item{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: top;
}
.searchBtnContainer{
    margin-right: 0!important;
}
.search-item-inline{
    display: inline-block;
    width: 180px;
    float:left;
}
.l-input{
    display: block;
    width: 100%;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    border: 1px solid #D9D9D9;
}
.l-icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.toBottomIcon{
    background: url('../images/toBottomIcon.png');
}
.toRightIcon{
    background: url('../images/toRightIcon.png');
}
.search-condition-title .l-icon{
    position: absolute;
    right:10px;
    top:6px;
}
.l-btn{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    white-space: nowrap;
    width: 68px;
    outline: none;
    overflow: hidden;
    margin-right: 7px;
    color:#ffffff;
}
.l-btn span{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    vertical-align: top;
}
.l-btn .l-search-icon{
    background: url('../images/searchIcon.png') no-repeat;
    background-position: 0 6px;
}
.l-btn .l-reset-icon{
    background: url('../images/resetIcon.png') no-repeat;
    background-position: 0 6px;
}
.l-btn .l-add-icon{
    background: url('../images/addIcon.png') no-repeat;
    background-position: 0 6px;
}
.l-btn .l-edit-icon{
    background: url('../images/editIcon.png') no-repeat;
    background-position: 0 6px;
}
.l-btn .l-delete-icon{
    background: url('../images/deleteIcon.png') no-repeat;
    background-position: 0 6px;
}
.l-btn .l-export-icon{
    background: url('../images/exportIcon.png') no-repeat;
    background-position: 0 6px;
}
.closed .l-more-icon{
    background: url('../images/moreIconDefault.png') no-repeat;
    background-position: 0 6px;
}
.open .l-more-icon{
    background: url('../images/moreIcon.png') no-repeat;
    background-position: 0 6px;
}
.l-btn-search{
    color: #ffffff;
    background: #179BD7;
}
.l-btn-add{
    background: #F5FFF9;
    border: 1px solid #55C283;
    color: #55C283;
}
.l-btn-edit{
    background: #F2F6FB;
    border: 1px solid #659CEE;
    color: #659CEE;
}
.l-btn-delete{
    background: #FAF0F0;
    border: 1px solid #F48080;
    color: #F48080;
}
.l-btn-export{
    background: #F0F9FA;
    border: 1px solid #7FD1D5;
    color: #7FD1D5;
}
.l-btn-search:hover{
    background: #64C1EB;
}
.l-btn-add:hover{
    background: #55C283;
    color:#ffffff;
    /*border: none;*/
}
.l-btn-edit:hover{
    background: #659CEE;
    color:#ffffff;
    /*border: none;*/
}
.l-btn-delete:hover{
    background: #F48080;
    color:#ffffff;
    /*border: none;*/
}
.l-btn-export:hover{
    background: #7FD1D5;
    color:#ffffff;
    /*border: none;*/
}
.l-btn-reset:hover,.l-btn-more:hover{
    color: #ffffff;
    background: #179BD7;
}
.l-btn-reset:hover .l-reset-icon{
    background: url('../images/resetIconHover.png') no-repeat;
    background-position: 0 6px;
}
.l-btn-add:hover .l-add-icon{
    background: url('../images/addIconHover.png') no-repeat;
    background-position: 0 6px;
}
.l-btn-edit:hover .l-edit-icon{
    background: url('../images/editIconHover.png') no-repeat;
    background-position: 0 6px;
}
.l-btn-delete:hover .l-delete-icon{
    background: url('../images/deleteIconHover.png') no-repeat;
    background-position: 0 6px;
}
.l-btn-export:hover .l-export-icon{
    background: url('../images/exportIconHover.png') no-repeat;
    background-position: 0 6px;
}
.l-btn-more.closed:hover .l-more-icon{
    background: url('../images/moreIconDefaultHover.png') no-repeat;
    background-position: 0 6px;
 }
.l-btn-more.open:hover .l-more-icon{
    background: url('../images/moreIconHover.png') no-repeat;
    background-position: 0 6px;
}
.l-btn-reset,.l-btn-more{
    color:#333333;
    background: #F5F5F5;
}
.l-btn-text{
    height: 28px;
    line-height: 30px!important;
}
.moreConditionContainer{
    display: none;
}
.ctr-btns-container{
    margin: 10px 0;
}





/*查询页     --结束 */
