/* 登录 */
.login{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: url(../images/bg.png) no-repeat center top/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    text-align: center;
}
.login-content{
    width: 640px;
}
.login-box{
    height: 320px;
    padding:20px 30px;
    box-sizing: border-box;
    width: 384px;
    float: left;
    position: relative;
}
.login-box .login-input input{
    width: 100%;
    height: 36px;
    padding: 8px 20px 8px 50px;
    box-sizing: border-box;
    border-radius: 3px;
    line-height: 40px;
    color: #26a7e1;
    font-size: 14px;
}
.login-box .login-input{
    position: relative;
}
.login-box .admin{
    margin-top: 15px;
}
.login-box .login-input .admin-icon{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: inline-block;
    height: 36px;
    width:40px;
    border-right: 1px solid #c2dcf2;
}
.login-box .login-input .admin-icon img{
    margin-top: 10px;
}
.login-box .circle{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #f08042;
    text-align: center;
    line-height: 15px;
    color: #eee;
    border-radius: 100%;
}
.login-box .hint{
    font-size: 12px;
    color: #f08042;
    display: inline-block;
    position: absolute;
    left:30px;
    bottom: 102px;
}
.login-box .password{
    margin-top: 12px;
}
.login-box .code{
    margin-top: 12px;
}
.login-box .code .code-left{
    width: 229px;
    float: left;
}
.login-box .code .num{
    width: 80px;
    height: 36px;
    border-radius: 3px;
    background: #fff;
    font-size: 24px;
    color: #6b6b6b;
    text-align: center;
    margin-left: 15px;
    float: left;
    line-height: 40px;
}
.pad-btn{
    margin-top: 30px;
}
.rem-psd{
    float: left;
    font-size: 16px;
    color: #26a7e1;
    cursor: pointer;
}
.rem-psd *{
    vertical-align: middle;
}
.pad-btn .rem-psd i{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/rember.png) 100% 100% no-repeat;
}
.pad-btn .active i{
    background: url(../images/rem.png) 100% 100% no-repeat;
}
.forget-psd{
    float: right;
    font-size: 16px;
    color: #26a7e1;
    margin-top: 2px;
}
.login-box .button{
    margin-top:15px;
}
.login-box .button .log{
    float: left;
    width: 150px;
    height:35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 5px;
    background: #5dbeeb;
    border-radius: 3px;
    cursor: pointer;
}
.login-box .button .reset{
    float: left;
    width: 150px;
    height:35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 5px;
    background: #66b3d8;
    border-radius: 3px;
    margin-left: 24px;
    cursor: pointer;
}
.login-bq{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 40px;
    font-size: 16px;
    color: #858585;
}
.login-in{
    width: 640px;
    background: rgba(255,255,255,.5);
    margin-top: 20px;
    border-radius:2px;
    box-shadow: 0 0 6px rgba(0,0,0,.1) ;
}
.login-in .img{
    width: 256px;
}
.login-in .img img{
    width: 100%;
}
.login-box .title{
    font-size:16px;
    color: #999;
}
.login-box .title .ch{
    font-size: 20px;
    color: #dd531a;
}


/* 首页1  */
body,html{height:100%;}
body{ padding:0px; margin:0;   overflow:hidden;}
.l-link{ display:block; height:26px; line-height:26px; padding-left:10px; text-decoration:underline; color:#333;}
.l-link2{text-decoration:underline; color:white; margin-left:2px;margin-right:2px;}
.l-layout-top{background:#102A49; color:White;}
.l-layout-bottom{ background:#E5EDEF; text-align:center;}
#pageloading{position:absolute; left:0px; top:0px; width:100%; height:100%;z-index:99999;}
.l-link{ display:block; line-height:22px; height:22px; padding-left:16px;border:1px solid white; margin:4px;}
.l-link-over{ background:#FFEEAC; border:1px solid #DB9F00;}
.l-winbar{ background:#2B5A76; height:30px; position:absolute; left:0px; bottom:0px; width:100%; z-index:99999;}
.space{ color:#E7E7E7;}
/* 顶部 */
.l-topmenu{ margin:0; padding:0; height:80px; line-height:80px; position:relative; background: url(../images/head-bg.png) top center no-repeat }
.l-topmenu-logo{padding-left:20px;}
.l-topmenu-logo img{margin-top: 14px}
.l-topmenu-welcome{  position:absolute; height:24px; line-height:24px;  right:20px; top:2px;color:#070A0C;margin-top: 5px}
.l-topmenu-welcome a{ color:#E7E7E7; text-decoration:underline}
.body-gray2014 #framecenter{
    margin-top:3px;
}
.viewsourcelink {
    background:#B3D9F7;  display:block; position:absolute; right:10px; top:3px; padding:6px 4px; color:#333; text-decoration:underline;
}
.viewsourcelink-over {
    background:#81C0F2;
}
.l-topmenu-welcome label {color:white;
}
#skinSelect {
    margin-right: 6px;
}
.footer{height:30px; line-height:30px; text-align:center;background:#1091d7;color: #fff;font-size: 14px;font-family:'Adobe 黑体 Std' }
.l-topmenu-welcome .mission *{
    vertical-align: middle;
    font-size: 14px;
    color: #fff;
}
.mission .num{
    color:#fff82d;
}
.wait-mission{
    margin-right: 20px;
    padding-right: 20px;
    border-right: 2px solid #fff;
}
.user-name{
    position: relative;
    z-index: 100;
}
.user-name .name{
    width: 160px;
    height: 26px;
    line-height: 26px;
    padding-right: 10px;
    text-align: center;
    position: relative;
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    background: #0378ce;
    margin-top: 7px;
    cursor: pointer;
}
.user-name .name:after{
    content: "";
    border-top: 6px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    top: 11px;
    right: 10px;
}
.alter-psd{
    position: absolute;
    top: 34px;
    right: 0;

    display: none;
    padding-top: 5px;
}
.alter-psd p{
    width: 105px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    background: #fff;
    border:1px solid #e2e2e2;
}
.alter-psd p span{
    vertical-align: middle;
}
.alter-psd .psd{
    border-bottom: 0;
}
.alter-psd .psd .icon{
    display: inline-block;
    width: 14px;
    height: 16px;
    background: url(../images/reviseb.png) top center no-repeat;
}
.alter-psd .revise .icon{
    display: inline-block;
    width: 14px;
    height: 16px;
    background: url(../images/esc1h.png) top center no-repeat;
}
.alter-psd p:hover{
    background: #0378ce;
    color: #fff;
}
.alter-psd .psd:hover .icon{
    background: url(../images/revise.png) top center no-repeat;
}
.alter-psd .revise:hover .icon{
    background: url(../images/esc.png) top center no-repeat;
}
.user-name:hover .alter-psd{
    display: block;
}
.tab-home{
    display: flex;
    justify-content: center;
}
.tab-home ul{
    width: 756px;
    margin: 100px -30px 0;
}
.tab-home li{
    text-align: center;
    float: left;
    padding: 0 30px;
    margin-top: 80px;
}
.tab-home li p{
    font-size: 14px;
    color: #000;
    margin-top: 5px;
}