<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="../../js/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
    <link href="../../css/globle.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="iframContainer">
    <!--网格员-->
    <section class="section1 section-content">
        <div class="section1-item">
            <div class="item-info-title">网格员</div>
            <div class="item-info-text">1360</div>
        </div>
        <div class="section1-item">
            <div class="item-info-title">网格员</div>
            <div class="item-info-text">1360</div>
        </div>
        <div class="section1-item">
            <div class="item-info-title">网格员</div>
            <div class="item-info-text">1360</div>
        </div>
        <div class="section1-item">
            <div class="item-info-title">网格员</div>
            <div class="item-info-text">1360</div>
        </div>
        <div class="section1-item">
            <div class="item-info-title">网格员</div>
            <div class="item-info-text">1360</div>
        </div>
        <div class="section1-item">
            <div class="item-info-title">网格员</div>
            <div class="item-info-text">1360</div>
        </div>

    </section>
    <!--网格员-->
    <!--图表-->
    <section class="section2">
        <div class="chart-item">
            <div class="chart-title">最近活动</div>
            <div class="chart-content"></div>
        </div>
        <div class="chart-item">
            <div class="chart-title">管理者活动</div>
            <div class="chart-content"></div>
        </div>
    </section>
    <!--图表-->
    <!--通知公告-->
    <section class="section3">
        <div class="section3-item">
            <div class="item-title">通知公告</div>
            <div class="item-content"></div>
        </div>
        <div class="section3-item">
            <div class="item-title">通知公告</div>
            <div class="item-content"></div>
        </div>
    </section>
    <!--通知公告-->
</div>
</body>
</html>