<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--优先使用 IE 最新版本和 Chrome-->
    <meta name="renderer" content="webkit"/>
    <title>中山市沙溪镇</title>
    <meta name="keywords" content="中山市沙溪镇"/>
    <meta name="description" content="中山市沙溪镇"/>
    <meta name="author" content="中山市沙溪镇"/>
    <link rel="stylesheet" href="../css/globle.css">
    <link rel="stylesheet" href="../css/index.css">
    <script type="text/javascript" src="../js/until/jquery.min.js"></script>
</head>
<body>
<div class="login">
    <div class="login-content">
        <p class="logo"><img src="../images/logo.png" alt=""></p>
        <div class="login-in clearfix">
            <div class="img fl">
                <img src="../images/lo.png" alt="">
            </div>
            <div class="login-box fl">
                <p class="title"><span class="ch">用户登录</span> <span>UserLogin</span></p>
                <p class="admin login-input">
                    <input type="text" name="username" placeholder="请输入用户名">
                    <span class="admin-icon"><img src="../images/admin.png" alt="" class=""></span>
                </p>
                <p class="password login-input">
                    <input type="password" name="psw" placeholder="请输入密码">
                    <span  class="admin-icon"><img src="../images/mm.png" alt=""></span>
                </p>
                <div class="code clearfix">
                    <p class="code-left login-input">
                        <input type="text" name="pcode" placeholder="验证码">
                        <span class="admin-icon"><img src="../images/yz.png" alt=""></span>
                    </p>
                    <p class="num">18678</p>
                </div>
                <span class="hint"><i class="circle">-</i> 账号或者格式输入错误，请重新输入.</span>
                <div class="pad-btn clearfix">
                    <p class="rem-psd active">
                        <i></i>
                        <span>记住密码</span>
                    </p>
                    <a href="javascript:;" class="forget-psd">忘记密码？</a>
                </div>
                <div class="button clearfix">
                    <button class="log loginBtn">登录</button>
                    <button class="reset">重置</button>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    var indexJs = {
        init: function () {
            this.remPsd();
            this.vali();
        },
        /* 记住密码 */
        remPsd: function () {
            $(".rem-psd").on('click', function () {
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active')
                } else {
                    $(this).addClass('active');
                }
            });

        },
        vali: function () {
            $('.login-input').each(function () {
                var $this = $(this);
                $this.find('input').on('input propertychange', function () {
                    var list = [];
                    $.each($('.login-box').find('input'), function (index, item) {
                        if ($(item).val() == '') {
                            list.push('1');
                        }
                    });
                    if (list.length > 0) {
                        $('.loginBtn').css('opacity', '0.6');
                    } else {
                        $('.loginBtn').css('opacity', '1');
                    }
                })
            })
        }


    }
    $(function () {
        indexJs.init();
    })
</script>
</body>
</html>